# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS / sistem
Thumbs.db
desktop.ini

# Node / monorepo
node_modules/
dist/
build/
*.tsbuildinfo
.env
.env.local
coverage/
.pnpm-store/

# Prisma
packages/db/prisma/*.db
